<footer class="footer">
    <div class="content has-text-centered">
        <p>
            All rights are reserved by <a href="/homepage">The Old People's App</a>. TPOE Private Unlimited © 20Never
        </p>
    </div>
</footer>
